<table class="games-table">
    <thead>
    <tr>
        <th th:text="#{game.nombre}">Nombre</th>
        <th th:text="#{game.singleplayer}">Enlace 1 Jugador</th>
        <th th:text="#{game.multiplayer}">Enlace Multijugador</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="#{game.trivial.title}">Nombre del Juego</td>
        <td><a href="/game/trivial" th:text="#{game.singleplayer}">Jugar</a></td>
        <td><a href="/game/trivial/multiplayer" th:text="#{game.multiplayer}">Jugar</a></td>
    </tr>
    <tr>
        <td th:text="#{game.imagen}">Nombre del Juego</td>
        <td><a href="/game/image" th:text="#{game.singleplayer}">Jugar</a></td>
        <td><a href="game/image/multiplayer" th:text="#{game.multiplayer}">Jugar</a></td>
    </tr>
    </tbody>
</table>
