<!-- nav.html -->
<nav
        class="navbar navbar-expand-lg navbar-dark bg-primary"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:th="http://www.thymeleaf.org"
>
    <a class="navbar-brand" href="#"></a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <!--INICIO PARTE IZQUIERDA DEL NAV-->
        <ul class="navbar-nav mr-auto">
            <!-- Sección del home -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <img
                            src="/images/icono.png"
                            height="30"
                            class="d-inline-block align-top"
                            alt=""
                            loading="lazy"
                    />
                    <span th:text="#{navbar.home}"></span>
                </a>
            </li>
            <!-- Fin seccion del home -->
            <!-- Modos de juego -->
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        th:text="#{navbar.game.section}"
                >
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a
                                class="dropdown-item"
                                href="/game/pregunta"
                                th:text="#{navbar.game.mode.pregunta.caliente}"
                        ></a>
                    </li>
                    <li>
                        <a
                                class="dropdown-item"
                                href="/game/trivial/multiplayer"
                                th:text="#{navbar.game.mode.trivial.multiplayer}"
                        ></a>
                    </li>
                    <li>
                        <a
                                class="dropdown-item"
                                href="/game/image"
                                th:text="#{navbar.game.mode.image}"
                        ></a>
                    </li>
                    <li>
                        <a
                                class="dropdown-item"
                                href="/game/image/multiplayer"
                                th:text="#{navbar.game.mode.image.multiplayer}"
                        ></a>
                    </li>
                    <!-- MAS MODOS DE JUEGO AQUI -->
                </ul>
            </li>
            <!--FIN MODOS DE JUEGO-->
            <!--INICIO SECCION RANKING-->
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown2"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                >
                    <span th:text="#{navbar.ranking.section}"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li>
                        <a
                                class="dropdown-item"
                                href="/ranking/global"
                                th:text="#{navbar.ranking.global}"
                        ></a>
                    </li>
                    <li>
                        <a
                                sec:authorize="isAuthenticated()"
                                class="dropdown-item"
                                href="/ranking/local"
                                th:text="#{navbar.ranking.local}"
                        ></a>
                    </li>
                </ul>
            </li>
            <!--FIN SECCION RANKING-->
            <!--SECCION Instrucciones-->
            <li class="nav-item">
                <a
                        class="nav-link"
                        href="/instructions"
                        th:text="#{navbar.instructions}"
                ></a>
            </li>
            <!--SECCION Sobre la APP -->
            <li class="nav-item">
                <a
                        class="nav-link"
                        href="/about-us"
                        th:text="#{navbar.about-us} + ' ' + #{app.name}"
                ></a>
            </li>
            <!--SECCION API-->
            <li class="nav-item">
                <a class="nav-link" href="/api" th:text="#{navbar.API}"></a>
            </li>
        </ul>
        <!--FIN PARTE IZQUIERDA-->
        <!--INICIO PARTE DERECHA DEL NAV-->
        <ul class="navbar-nav justify-content-end">
            <!-- Seccion para cambiar de idioma -->
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="btnLanguage"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                >
                    <i class="fa fa-language"></i>
                    <span th:text="#{navbar.language.current}"></span>
                </a>
                <div
                        id="languageDropdownMenuButton"
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                >
                    <!-- Botón para cambiar a inglés -->
                    <a
                            class="dropdown-item"
                            id="btnEnglish"
                            value="EN"
                            style="cursor: pointer"
                    >
                        <span th:text="#{navbar.language.toEnglish}"></span>
                    </a>
                    <!-- Botón para cambiar a español -->
                    <a
                            class="dropdown-item"
                            id="btnSpanish"
                            value="ES"
                            style="cursor: pointer"
                    >
                        <span th:text="#{navbar.language.toSpanish}"></span>
                    </a>
                    <!-- Botón para cambiar a francés -->
                    <a
                            class="dropdown-item"
                            id="btnFrench"
                            value="FR"
                            style="cursor: pointer"
                    >
                        <span th:text="#{navbar.language.toFrench}"></span>
                    </a>
                    <!-- Botón para cambiar a francés -->
                    <a
                            class="dropdown-item"
                            id="btnGerman"
                            value="DE"
                            style="cursor: pointer"
                    >
                        <span th:text="#{navbar.language.toGerman}"></span>
                    </a>
                </div>
            </li>
            <!-- Fin seccion idioma -->

            <!-- Inicio SECCION de acciones personales-->

            <!-- Botones para cuando el usuario NO está en sesión -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signup">
                    <i class="fas fa-user-alt" style="font-size: 16px"></i>
                    <span th:text="#{navbar.signup}"></span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">
                    <i class="fas fa-sign-in-alt" style="font-size: 16px"></i>
                    <span th:text="#{navbar.login}"></span>
                </a>
            </li>

            <!-- Botones para cuando el usuario ESTÁ autenticado -->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="btnUser"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-bs-toggle="dropdown"
                >
                    <!-- Icono de usuario -->
                    <i class="fas fa-user-alt"></i>
                    <!-- Nombre del usuario -->
                    <span sec:authentication="principal.username"></span>
                </a>
                <div
                        id="userZoneDropdownMenuButton"
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                >
                    <!--Enlace al perfil personal del usuario-->
                    <a class="dropdown-item" id="btnUserProfile" th:href="@{'/player/details/' + ${#authentication.principal.username}}">
                        <span th:text="#{navbar.profile}"></span>
                    </a>
                    <!--Enlace a la APIKEY del usuario-->
                    <a class="dropdown-item" id="btnUserApiKey" href="/home/apikey">
                        <span th:text="#{navbar.profile.apikey}"></span>
                    </a>
                    <a class="dropdown-item" th:href="@{'/player/edit/' + ${#authentication.principal.username}}">
                        <span th:text="#{navbar.profile.edit}"></span>
                    </a>


                    <!--Enlace a la zona de administración-->
                    <a
                            class="dropdown-item"
                            id="btnAdminZone"
                            href="/player/admin"
                            sec:authorize="hasRole('ROLE_ADMIN')"
                    >
                        <span th:text="#{navbar.admin.zone}"></span>
                    </a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-door-open" style="font-size: 16px"></i>
                    <span th:text="#{navbar.logout}"></span>
                </a>
            </li>
            <!-- FIN SECCION de acciones personales-->
        </ul>
    </div>
</nav>
<!--Script para que se auto-desplieguen los menus-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let dropdowns = document.querySelectorAll(".nav-item.dropdown");

        dropdowns.forEach(function (dropdown) {
            dropdown.addEventListener("mouseenter", function () {
                let menu = dropdown.querySelector(".dropdown-menu");
                menu.classList.add("show");
                dropdown.querySelector(".nav-link").setAttribute("aria-expanded", "true");
            });

            dropdown.addEventListener("mouseleave", function () {
                let menu = dropdown.querySelector(".dropdown-menu");
                menu.classList.remove("show");
                dropdown.querySelector(".nav-link").setAttribute("aria-expanded", "false");
            });
        });
    });
</script>