.stopwatch-container {
    position: relative;
    text-align: center;
    width: 35%;
    margin: 2% auto;
}

.countdown-game-pregunta {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
}
.stopwatch-img {
    width: 45%;
    height: auto;
}

.game-logo {
    margin: auto;
    width: 15%;
    height: auto;
}

#bottomGamePart {
    margin-bottom: 10%;
}

.points, .questionCounter {
    font-size: 2em;
    color: white;
}

@media (max-width: 750px) {
    .stopwatch-img {
        width: 100%;
    }

    h1, h2, h3 {
        font-size: 1.5em;
    }

    .countdown-game-pregunta {
        font-size: 3em;
    }
}

.container .btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.container .btn:hover {
    background-color: #fff;
    color: #000;
}

#hintBox {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin: 0;
    font-family: inherit;
    overflow: auto;
    display: block;
    font-weight: 400;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    opacity: 1;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    height: calc(70vh); /* Utiliza 70vh, que es el 70% de la altura del viewport */
    max-height: 719px; /* Establece la altura máxima en 719px */
}

#hintBox:focus {
    outline: none; /* Elimina el borde de enfoque predeterminado */
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Añade una sombra sutil al enfocar */
}

#hintButton {
    width: 100%;
    background-color: #ffc107; /* Color amarillo para el botón */
    color: #333; /* Color de texto oscuro para mejor legibilidad */
    border: none; /* Elimina el borde */
    padding: 10px;
    cursor: pointer; /* Cambia el cursor a una mano */
}

#hintButton:disabled {
    background-color: #ccc; /* Color gris para el botón deshabilitado */
    color: #666;
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

.stopwatch-container-pregunta-caliete {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    flex-direction: column;   /* Coloca elementos en columna si hay texto + reloj */
    height: 100%;             /* Asegúrate de que tenga altura para centrar verticalmente */
    font-size: 2rem;
    padding: 20px;
    text-align: center;       /* Centra el texto si lo hay */
}

.stopwatch-container-pregunta-caliete img,
.stopwatch-container-pregunta-caliete svg {
    width: 120px;
    height: 120px;
}

