<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{fragments/nav}"></nav>
<canvas th:replace="~{fragments/background}"></canvas>

<!-- Nueva sección de información sobre los alumnos -->
<div class="container mt-5">
    <h2 th:text="#{authors.projectBase}"></h2>
    <p th:text="#{authors.projectBase.desc}"></p>

    <h3 th:text="#{authors.projectBase.list}"></h3>
    <ul>
        <li>Pelayo Rojas Iñigo</li>
        <li>Álvaro Arias Martínez De Vega</li>
        <li>Ricardo Díaz Núñez</li>
        <li>Roberto Peña Goy</li>
        <li>Iker Álvarez Fernández</li>
    </ul>

    <h2 th:text="#{authors.ampl}"></h2>
    <p th:text="#{authors.ampl.desc}">
        </p>
    <ul>
        <li>García Baldó, Manuel</li>
        <li>Guerbartchouk Pérez, Nicolás</li>
        <li>Jirout Cid, Alfredo </li>
        <li>Olamendi De Yaxte Alonso, Miguel Ángel</li>
    </ul>

</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
