name: Deploy on release

on:
  release:
    types: [published]

jobs:
  docker-push:
    name: Push application Docker Image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/arquisoft/wichat_es4b:latest
          no-cache: true

  deploy:
    runs-on: ubuntu-latest
    needs: docker-push
    steps:
      - name: Deploy over SSH
        uses: fifsky/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          user: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          command: |
            export KEYSTORE_PATH=${{ secrets.KEYSTORE_PATH }}
            export KEYSTORE_PASSWORD=${{ secrets.KEYSTORE_PASSWORD }}
            export LLM_API_KEY=${{ secrets.LLM_API_KEY }}
            wget https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref_name }}/docker-compose.yml -O docker-compose.yml
            wget https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref_name }}/prometheus.yml -O prometheus.yml
            docker compose down
            docker compose up -d --pull always
